body {
  background-color: #a1c4fd;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-family: Bahnschrift;
  color: $secondary-color;

  .button {
    color: $secondary-color;
    background-color: $primary-color;
    border-radius: 20px;
    transition: 0.5s;
    outline: none;
    border: none;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.92);
    }

    &:focus {
      box-shadow: 0 0 4px 4px $secondary-color;
    }
  }

  & .input-field {
    text-align: center;
    font-size: 28px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.4s;
    outline: none;
    min-width: 400px;
    padding: 5px;

    @media screen and (max-width: 1024px) {
      font-size: 45px;
      min-width: 650px;
    }

    @media screen and (max-width: 702px) {
      font-size: 35px;
      min-width: 500px;
    }

    @media screen and (max-width: 502px) {
      font-size: 26px;
      min-width: 350px;
    }

    @media screen and (max-width: 380px) {
      font-size: 22px;
      min-width: 300px;
    }

    &:focus {
      box-shadow: 0 0 4px 4px $secondary-color;
    }
  }
}
